html, body {
  margin: 0;
}

html {
  --colorWhite: 360, 100%, 100%;
  --colorBlack: 0, 0%, 0%;
}

body {
  background-color: #f9f9f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
}

.c-GamePad {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.c-Logo {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: -32px;
  text-align: center;
}

.c-KeyPad {
  --keyCapColor: #eee;
  --keyPressShadow: radial-gradient(circle, hsla(var(--colorBlack), 0.1) 0%, hsla(var(--colorBlack), 0) 70%);
  --keyLetterColor: hsla(var(--colorBlack), 0.7);
  --keyHighlight: hsla(var(--colorWhite), 0.4);
  --keyShadow: hsla(var(--colorBlack), 0.2);
  --keyInnerShadow: hsla(var(--colorBlack), 0.0);
}

.c-KeyPad--dark {
  --keyCapColor: #222;
  --keyPressShadow: radial-gradient(circle, hsla(var(--colorBlack), 0.4) 0%, hsla(var(--colorBlack), 0) 70%);
  --keyLetterColor: hsla(var(--colorWhite), 0.9);
  --keyHighlight: hsla(var(--colorWhite), 0.2);
  --keyInnerShadow: hsla(var(--colorBlack), 0.4);
}

.c-KeyPad {
  display: flex;
}

.c-Key {
  --keySize: 64px;
  --keySizeOffset: 4px;
  --keyWidth: calc(var(--keySize) + var(--keySizeOffset));
  --keyHeight: 4px;
  --keyTotalHeight: calc(var(--keySize) + var(--keySizeOffset));
  --keyBorderRadius: 8px;
  --keyBXSDW: 0 calc((var(--keyHeight) + 1px) * -1) 0 var(--keyShadow) inset, 0 calc((var(--keyHeight) + 2px) * -1) 0 var(--keyHighlight) inset, 0 0 0 1px hsla(var(--colorWhite), 0.1) inset;

  /* --keyBXSDWPressed: 0 -1px 0 0 hsla(var(--colorBlack), 0.3) inset, 0 -2px 0 0 hsla(var(--colorWhite), 0.4) inset; */
  --bgColor: hsla(var(--colorBlack), 0.9);
  background-color: var(--bgColor);
  border-radius: var(--keyBorderRadius);
  box-shadow: 0 1px 0 2px var(--bgColor), 0 2px 0 2px hsla(var(--colorWhite), 0.4);
  display: block;
  height: calc(var(--keySize) + var(--keyHeight));
  margin: 4px;
  overflow: hidden;
  position: relative;
  width: var(--keyWidth);
}

.c-KeyCap {
  align-items: center;
  background-color: var(--keyCapColor);
  background-image: radial-gradient(circle at center top, hsla(var(--colorWhite), 0.2) 0%, hsla(var(--colorWhite), 0) 50%);
  border-radius: var(--keyBorderRadius);
  box-shadow: var(--keyBXSDW), 0 calc(var(--keyHeight) * -1) 0 hsla(var(--colorBlack), 0.3) inset, 0 0 10px var(--keyInnerShadow) inset;
  cursor: pointer;
  color: var(--keyLetterColor);
  display: flex;
  height: var(--keyTotalHeight);
  justify-content: center;
  position: relative;
  width: var(--keyWidth);
  user-select: none;
  z-index: 1;
}

.c-KeyCap:after {
  content: "";
  background-image: var(--keyPressShadow);
  border-radius: var(--keyBorderRadius);
  height: var(--keySize);
  opacity: 0;
  position: absolute;
  width: var(--keyWidth);
}

.c-KeyCap:active,
.c-KeyCap.is-pressed {
  transform: translate(0, var(--keySizeOffset));
}


.c-KeyCap:active:after,
.c-KeyCap.is-pressed:after {
  opacity: 1;
}

.c-KeyCap--marked:before {
  background-color: hsla(var(--colorBlack), 0.02);
  border-radius: 99999px;
  box-shadow: 0 -1px 0 hsla(var(--colorWhite), 0.4), 0 1px 0 hsla(var(--colorBlack), 0.2);
  content: "";
  height: 2px;
  position: absolute;
  width: 14px;
  bottom: calc(var(--keySize) / 5);
}

.c-KeyCap__letter {
  font-size: 18px;
  user-select: none;
}
