html, body {
  margin: 0;
}

html {
  --colorWhite: 360, 100%, 100%;
  --colorBlack: 0, 0%, 0%;
}

body {
  background-color: #f9f9f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

* {
  box-sizing: border-box;
}

.c-GamePad {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.c-Logo {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: -32px;
  text-align: center;
}

/* Base Variables */
.c-KeyPad {
  --keySize: 68px;
  --keySizeOffset: 4px;
  --keyWidth: var(--keySize);
  --keyHeight: 8px;
  --keyTotalHeight: calc(var(--keySize) + var(--keyHeight));
  --keyBorderRadius: 5px;
  --keyShellBorder: 4px 8px 16px;
  --keyCapShine: linear-gradient(to right, hsla(var(--colorWhite), 0), hsla(var(--colorWhite), 0.1), hsla(var(--colorWhite), 0));
}

/* Laptop Style */
.c-KeyPad--laptop {
  --keySize: 64px;
  --keySizeOffset: 4px;
  --keyWidth: calc(var(--keySize) + var(--keySizeOffset));
  --keyHeight: 4px;
  --keyShellBorder: 0 0 4px;
  --keyTotalHeight: calc(var(--keySize));
  --keyBorderRadius: 5px;
  --keyCapShine: radial-gradient(circle at center top, hsla(var(--colorWhite), 0.2) 0%, hsla(var(--colorWhite), 0) 50%);
}

/* Light Theme */
.c-KeyPad {
  --keyCapColor: #eee;
  --keyCapShellBorderColor: hsla(var(--colorBlack), 0.1) hsla(var(--colorBlack), 0.2) hsla(var(--colorBlack), 0.16);
  --keyHighlight: hsla(var(--colorWhite), 0.4);
  --keyInnerShadow: hsla(var(--colorBlack), 0.0);
  --keyLetterColor: hsla(var(--colorBlack), 0.7);
  --keyPressShadow: radial-gradient(circle, hsla(var(--colorBlack), 0.2) 0%, hsla(var(--colorBlack), 0) 70%);
  --keyShadow: hsla(var(--colorBlack), 0.2);
}

/* Dark Theme */
.c-KeyPad--dark {
  --keyCapColor: #222;
  --keyCapShellBorderColor: hsla(var(--colorWhite), 0.3) hsla(var(--colorWhite), 0.2) hsla(var(--colorWhite), 0.05);
  --keyHighlight: hsla(var(--colorWhite), 0.2);
  --keyInnerShadow: hsla(var(--colorBlack), 0.4);
  --keyLetterColor: hsla(var(--colorWhite), 0.9);
  --keyPressShadow: radial-gradient(circle, hsla(var(--colorBlack), 0.6) 0%, hsla(var(--colorBlack), 0) 70%);
}

.c-KeyPad {
  display: flex;
}

.c-Key {
  --bgColor: hsla(var(--colorBlack), 0.9);
  background-color: var(--bgColor);
  border-radius: var(--keyBorderRadius);
  box-shadow: 0 1px 0 2px var(--bgColor), 0 2px 0 2px hsla(var(--colorWhite), 0.4);
  display: block;
  height: var(--keyTotalHeight);
  margin: 4px;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease;
  width: var(--keyWidth);
}

.c-KeyCapShell {
  background-color: var(--keyCapColor);
  border-radius: var(--keyBorderRadius);
  border-style: solid;
  border-width: var(--keyShellBorder);
  border-color: var(--keyCapShellBorderColor);
  display: flex;
  height: var(--keyTotalHeight);
  width: var(--keyWidth);
  transition: background 0.2s, border-radius 0.2s, border-width 0.2s, height 0.2s, width 0.2s;
}

.c-KeyCap {
  align-items: center;
  background-color: var(--keyCapColor);
  background-image: var(--keyCapShine);
  border-radius: var(--keyBorderRadius);
  box-shadow: 0 0 0 1px hsla(var(--colorWhite), 0.2) inset, 0 0 10px var(--keyInnerShadow) inset;
  cursor: pointer;
  color: var(--keyLetterColor);
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  transform: scale(1.05);
  transition: all 0.2s ease;
  user-select: none;
  z-index: 1;
}

.c-KeyCap:after {
  content: "";
  background-image: var(--keyPressShadow);
  border-radius: var(--keyBorderRadius);
  height: var(--keySize);
  opacity: 0;
  position: absolute;
  width: var(--keyWidth);
}

.c-KeyCapShell:active,
.c-KeyCapShell.is-pressed {
  transform: translate(0, var(--keySizeOffset));
}

.c-KeyCapShell:active .c-KeyCap:after,
.c-KeyCapShell.is-pressed .c-KeyCap:after {
  opacity: 1;
}

.c-KeyCap--marked:before {
  background-color: hsla(var(--colorBlack), 0.02);
  border-radius: 99999px;
  box-shadow: 0 -1px 0 hsla(var(--colorWhite), 0.4), 0 1px 0 hsla(var(--colorBlack), 0.2);
  content: "";
  height: 2px;
  position: absolute;
  width: 14px;
  bottom: calc(var(--keySize) / 5);
}

.c-KeyCap__letter {
  font-size: 18px;
  user-select: none;
}
